<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="microsoft.visualstudio.testtools" type="Microsoft.VisualStudio.TestTools.UnitTesting.TestConfigurationSection, Microsoft.VisualStudio.QualityTools.UnitTestFramework, Version=10.0.0.0" />
  </configSections>
  <connectionStrings>
    <!-- DataSource for testing-->
    <add name="CSVTestConnection" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=O:\Dropbox\Zühlke\UIA\Mettler Toledo\ZE.UIA\MyApp.UITest\TestData\;Extended Properties='text;HDR=Yes;FMT=Delimited'" providerName="System.Data.OleDb" />
  </connectionStrings>
  <microsoft.visualstudio.testtools>
    <dataSources>
      <add name="ClickIncreaseButtonManyTimesDataSource" connectionString="CSVTestConnection" dataTableName="ClickIncreaseButtonManyTimesTestData#csv" dataAccessMethod="Sequential" />
    </dataSources>
  </microsoft.visualstudio.testtools>
</configuration>